<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VOCPascal Predictor</title>
  <script type="text/javascript">
    function handleSelect(elm)
    {
    window.location = elm.value;
    }
  </script>
</head>

<body>
  <h1>VOCPascal Predictor</h1>
  <h4>Predict your image here</h4>
  <form enctype="multipart/form-data" action="/predict" method="post">
    <input name="image" id="image-file" type="file" />
    <button type="submit">Submit</button>
  </form>
  <p>{{ message }}</p>
  <img src={% if graph_url %} {{graph_url}} {% else %} '' {% endif %} alt="There is no picture"/>
  <h4>View the top ranked predictions for each class</h4>
  <form enctype="multipart/form-data" action="/top_images" method="post">
  	<select name="class" onchange="location = this.value;">
      <option disabled selected value> -- select an option -- </option>
      {% for class in classes %}
		  <option value="/top_images/{{class}}">{{class}}</option>
      {% endfor %}
		</select>
  </form>
</body>
</html>