<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>VOCPascal Predictor</title>
</head>

<body>
  <p>VOCPascal Predictor</p>
  <p>Predict your image here</p>
  <form enctype="multipart/form-data" action="/predict" method="post">
    <input name="test" id="image-file" type="file" />
    <button type="submit">Submit</button>
  </form>
  <p>View the top ranked predictions for each class</p>
  <form>
  	<select>
		  <option value="car">Volvo</option>
		  <option value="aeroplane">Saab</option>
		  <option value="something">Mercedes</option>
		  <option value="blah">Audi</option>
		</select>
  </form>
</body>
</html>